body {
    color: #958b85;
}

.header {
    border-bottom: 1px solid #e9dfd6;
}

.header__inner {
    margin: 0 auto;
    height: 70px;
}

.header__utilities {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20%;
}

.header__logo {
    text-decoration: none;
    font-size: 30px;
    font-family: "Merriweather", serif;
}

.header__form {
    margin-right: 0px;
    position: absolute;
    top: 10%;
    right: 5%;
}

.logout__button {
    width: 70px;
    height: 25px;
    border: 2px solid #e9dfd6;
    background: #f6f6f6;
    color: #e3d7cc;
}

